:root {
  --diluno-red: #f26659;
  --diluno-shadow: #fbc4a9;
  --dull-polo-blue: #8CA9D3;
  --dull-polo-shadow: #bccee6;
  --white-lilac: #F0EFF4;
  --white: white; 
  --black: black;
  --dark-blue: #0f162f
}

* {
  box-sizing: border-box;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

a {
  text-decoration: none;
}

body {
  display: flex;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  background-color: var(--white);
  padding: .5rem 1rem 0;
  box-shadow: 2.5px 2.5px 5px #fbc4a9;
}

header svg {
  width: 1.5rem;
  height: 1.5rem;
}

header > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-right: .5rem;
  height: 5rem;
}

.form {
  width: 100%;
  /* position: relative; */
  /* flex: 1; */
  display: grid;
  justify-items: start;
  align-self: start;
  margin-top: .75rem;
  min-width: 7rem;
}
#searchbar {
  appearance: none;
  padding: .5rem;
  display: none;
  border: none;
  border-radius: 5px;
  outline: 1px solid var(--dull-polo-blue);
  width: 95%;
  background-color: var(--white);
  color: var(--black);
  transition: all .075s ease;
  grid-column: 1/2;
  grid-row: 1/2;
}

#searchbar:focus ~ label {
  display: none;
}

#searchbar:focus ~ label::after {
  content: none;
}

.suggestions {
  width: 92%;
  margin: 0;
  padding: 0;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
}

.suggestions div {
  width: max(12rem, 100%);
  padding: .5rem .75rem;
  height: 3rem;
  margin: 0;
  background-color: var(--white);
  outline: 1px solid var(--dull-polo-blue);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.suggestions div:hover {
  background-color: var(--white-lilac);
}

.suggestions a {
  color: var(--black);
  font-weight: bold;
  text-transform: capitalize;
  min-width: 6.5rem;
}

.suggestions div:nth-of-type(2n-1) {
  transform: perspective(100px) rotateX(-3deg) translateY(1px);
}
.suggestions div:nth-of-type(2n) {
  transform: perspective(100px) rotateX(3deg) translateY(1px);
}
.suggestions div:hover {
  color: var(--diluno-red);
}
.suggestions span:not(.project-match) {
  align-self: flex-end;
  color: var(--dull-polo-blue);
  opacity: .7;
  font-weight: normal;
  font-size: 14px;
  min-width: fit-content;
}
.project-match {
  background-color: var(--dull-polo-blue);
}


label[for='searchbar'] {
  justify-self: start;
  padding-left: .5rem;
  grid-column: 1/2;
  grid-row: 1/2;
  min-width: 5%;
  display: flex;
  align-items: center;
  outline: 1px solid var(--dull-polo-blue);
  border-radius: 5px;
  height: 2rem;
}
label[for='searchbar']:hover {
  outline-color: var(--diluno-red);
}

label[for='searchbar']::after {
  content: "Search...";
  color: grey;
  padding: .5rem;
}

#dark-light-mode {
  min-width: fit-content;
  align-self: start;
  margin-top: 1rem;
}

#sun, #moon {
  height: 1rem;
  width: 1rem;
}

#bell-a {
  align-self: start;
  margin-top: .75rem;
  transition: all .075s ease;
}

#bell:hover, #dark-light-mode:hover, #profile-pic:hover {
  transform: scale(.9);
}

#sun {
  transform: translateY(-5px);
}
#moon {
  transform: translateY(5px);
}

#profile-pic {
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--dull-polo-blue);
  border-radius: 50%;
  background-image: url(photos/Pirate1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#my-projects {
  display: flex;
  justify-content: space-between;
  color: var(--diluno-red);
}

#my-projects h1 {
  margin-top: .25rem;
}

#my-projects > a {
  align-self: flex-end;
  color: var(--dark-blue);
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .25rem;
  border: 2px solid var(--dull-polo-blue);
  border-radius: 15px;
  font-size: 14px;
}

#my-projects > a:hover {
  background-color: var(--dull-polo-blue);
}

aside {
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  background-color: var(--diluno-red);
  color: var(--dark-blue);
  padding: 0 1rem 0 .5rem;
}

#dashboard {
  display: flex;
  gap: .75rem;
  color: #0f162f;
}



aside > ul {
  list-style: none;
  padding: .5rem;
}

aside li {
  margin-bottom: .5rem;
  transition: all .1s ease;
}

aside li:hover {
  transform: scale(1.1);
  font-weight: bold;
}

aside li:hover a {
 font-weight: bold;
}

aside li > a {
  display: flex;
  gap: .25rem;
  color: #0f162f;
}

aside a > span {
  align-self: center;
}

aside svg {
  min-width: 24px;
  min-height: 24px;
}

main {
  background-color: var(--white-lilac); 
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .5rem;
  align-items: flex-start;
  justify-content: center;
}

#new-content {
  flex-basis: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-left: 1rem;
  margin: .25rem 0;
}

#new-content > * {
  border: 2px solid var(--dull-polo-blue);
  border-radius: 15px;
  box-shadow: 3px 3px 5px var(--dull-polo-shadow);
  padding: .5rem;
  background-color: var(--white);
  color: var(--dark-blue);
  font-size: .75rem;
}

#new-content > *:hover {
  border-color: var(--diluno-red);;
}

.articles {
  flex-basis: 40%;
  flex-grow: 1.75;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  column-gap: 1rem;
  row-gap: 1.75rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

#right-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 0;
  min-width: 150px;
  max-width: 250px;
  margin-right: 1rem;
}

.articles article {
  display: grid;
  background-color: var(--dull-polo-blue);
  padding: 0 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--dull-polo-shadow);
  max-height: auto;
  border-left: 10px solid var(--diluno-red);
}

.articles h4 {
  width: fit-content;
  font-size: 1.25rem;
  margin: 1rem 0;
}
article img {
  width: 100%;
  height: auto;
  justify-self: center;
}

.view-content {
  justify-self: end;
}

.view-content > * {
  padding-right: 1rem;
  transition: all .075s ease;
}

.view-content svg:hover {
  transform: scale(1.1);
}

.view-content svg:active {
  transform: scale(1);
}

#upcoming-projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--dull-polo-blue);
  box-shadow: 5px 5px 10px var(--dull-polo-shadow);
  border-radius: 10px;
  padding: .5rem 1rem;
}

#upcoming-projects h3, #past-projects h3 {
  margin: 0;
  padding: .25rem 0;
  text-align: center;
}

#past-projects h3 {
  margin-bottom: 1rem;
}

#right-column article {
  display: grid;
  grid-template-columns: 1fr repeat(auto-fit, minmax(3rem, 1fr));
  gap: .5rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: .5rem;
}

#right-column h4 {
  width: 100%;
  margin: .5rem 0;
  color: var(--dull-polo-blue);
}

#right-column a {
  color: var(--dark-blue);
  transition: all .075s ease;
  width: fit-content;
}

#right-column a:hover {
  font-weight: bold;
  transform: translateX(.25rem) scale(1.1);
}

#past-projects {
  background-color: var(--dull-polo-blue);
  box-shadow: 5px 5px 10px var(--dull-polo-shadow);
  border-radius: 10px;
  padding: .5rem;
}

footer {
  height: 2rem;
  width: 100%;
  margin: 1.5rem auto 0;
  display: grid;
  grid-column: 1/2;
}

footer > div {
  text-align: center;
}




@media screen and (max-width: 480px) {
  aside li a > span, #dashboard > h2 {
    display: none;
  }

  aside svg {
    max-width: 3rem;
    max-height: 3rem;
    margin: 1.25rem 0 0;
  }

  aside li > a, #dashboard {
    display: inline;
  }

  aside li, #dashboard {
    text-align: center;
  }

  aside {
    padding: .25rem;
    min-width: 4rem;
  }

  form, #searchbar {
    max-width: 6rem;
  }

}