@font-face {
  font-family: 'saigon_sansregular';
  src: url('/fonts/saigonsans-regular-webfont.woff2') format('woff2'),
       url('fonts/saigonsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --diluno-red: #f26659;
  --diluno-shadow: #fbc4a9;
  --dull-polo-blue: #8CA9D3;
  --dull-polo-shadow: #bccee6;
  --white-lilac: #F0EFF4;
  --white: white; 
  --black: black;
  --dark-blue: #0f162f;
  --fast-transition: all .075s ease;
}

* {
  box-sizing: border-box;
  font-family: 'saigon_sansregular', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


body {
  display: flex;
  width: fit-content;
  margin: 0;
}

header svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* ----------------------------------------*/
/* Header: searchbar, icons, My project, Cheatsheets */

header {
  padding: .5rem 1rem 0;
  background-color: var(--white);
  box-shadow: 2.5px 2.5px 5px #fbc4a9;
}

header > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding-right: .5rem;
  height: 5rem;
}

form {
  flex-basis: 100%;
  margin-top: .75rem;
  min-width: 8rem;
}

#searchbar {
  display: none;
  border: none;
  border-radius: 5px;
  outline: 1px solid var(--dull-polo-blue);
  background-color: var(--white);
  color: var(--dark-blue);
  width: clamp(8rem, 91%, 27rem);
  padding: .5rem;
}
#searchbar:focus ~ label {
  display: none;
}
#searchbar:focus ~ label::after {
  content: none;
}

#searchbar ~ label {
  display: flex;
  align-items: center;
  padding-left: .5rem;
  width: 6.5rem;
  outline: 1px solid var(--dull-polo-blue);
  border-radius: 5px;
  height: 2rem;
}
#searchbar ~ label svg {
  margin-top: .25rem;
}
#searchbar ~ label::after {
  content: "Search...";
  color: grey;
  padding: .5rem .25rem;
}
#searchbar ~ label:hover {
  outline-color: var(--diluno-red);
}


.suggestions div {
  width: clamp(13rem, 90%, 27rem);
  padding: .5rem .75rem;
  height: 3rem;
  font-size: 15px;
  background-color: var(--white);
  outline: 1px solid var(--dull-polo-blue);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestions a {
  color: var(--dull-polo-blue);
  font-weight: bold;
  text-transform: capitalize;
}
.suggestions span:not(.project-match) {
  align-self: flex-end;
  color: var(--dull-polo-blue);
  opacity: .7;
  font-size: 14px;
  min-width: fit-content;
}
.suggestions .project-match {
  background-color: var(--white-lilac);
}

.suggestions div:hover {
  color: var(--diluno-red);
  background-color: var(--white-lilac);
}
.suggestions div:nth-of-type(2n-1) {
  transform: perspective(100px) rotateX(-2deg) translateY(1px);
}
.suggestions div:nth-of-type(2n) {
  transform: perspective(100px) rotateX(2deg) translateY(1px);
}

header #dark-light-mode {
  min-width: fit-content;
  margin-top: 1rem;
}
#sun {
  transform: translateY(-5px);
}
#moon {
  transform: translateY(5px);
}
#sun, #moon {
  height: 1rem;
  width: 1rem;
}
#bell-a {
  margin-top: .75rem;
  transition: var(--fast-transition);
}
header #bell:hover, #dark-light-mode:hover, #profile-pic:hover {
  transform: scale(.9);
}
header #profile-pic {
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--dull-polo-blue);
  border-radius: 50%;
  background-image: url(photos/pic\ -\ tommy\ doak.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: not-allowed;
}

header #my-projects {
  display: flex;
  justify-content: space-between;
  color: var(--diluno-red);
}
#my-projects h1 {
  margin-top: .25rem;
}
#my-projects > a {
  align-self: flex-end;
  color: var(--dark-blue);
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .25rem;
  border: 1px solid var(--dull-polo-blue);
  border-radius: 12px;
  font-size: 14px;
}
#my-projects > a:hover {
  border-color: var(--diluno-red);
}


/* ----------------------------------------*/
/* Left-side navigation list: Title with logo, list of non-functional links */

aside {
  min-width: 11rem;
  background-color: var(--diluno-red);
  color: var(--dark-blue);
  padding: 0 1rem 0 .5rem;
}

#dashboard {
  display: flex;
  align-items: center;
  gap: .25rem;
  color: #0f162f;
}
#dashboard svg {
  width: 2rem;
  height: 2rem;
}



aside > ul {
  list-style: none;
  padding: 1rem;
}

aside li {
  margin-bottom: .5rem;
  transition: var(--fast-transition);
}
aside li:hover {
  transform: scale(1.1);
  font-weight: bold;
}

aside li a {
  display: flex;
  gap: .25rem;
  color: #0f162f;
  cursor: not-allowed;
}

aside a > svg {
  min-width: 24px;
  min-height: 24px;
}

aside a > span {
  align-self: center;
}


/* ----------------------------------------*/
/* Main section: non-functional #new-content links, projects, 
  upcoming projects, pre-TOP */

main {
  background-color: var(--white-lilac); 
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  padding-top: .5rem;
  margin-right: 1rem;
}

#new-content {
  flex-basis: 100%;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-left: 1rem;
  margin: .25rem 0;
}

#new-content > * {
  border: 2px solid var(--dull-polo-blue);
  border-radius: 15px;
  box-shadow: 3px 3px 5px var(--dull-polo-shadow);
  padding: .5rem;
  background-color: var(--white);
  color: var(--dark-blue);
  font-size: .75rem;
  cursor: not-allowed;
}

#new-content > *:hover {
  border-color: var(--diluno-red);;
}

.articles {
  flex: 1.75 1 40%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-auto-rows: max-content;
  column-gap: 1rem;
  row-gap: 1.75rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.articles article {
  display: grid;
  grid-template-rows: min-content;
  align-items: center;
  background-color: var(--dull-polo-blue);
  padding: 0 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--dull-polo-shadow);
  border-left: 10px solid var(--diluno-red);
}

.articles article h4 {
  width: fit-content;
  font-size: 1.25rem;
  margin: 1rem 0;
}
.articles article img {
  width: 100%;
  height: auto;
  justify-self: center;
}
.articles article p {
  margin: .5rem 0;
}

.view-content {
  justify-self: center;
  align-self: end;
  padding-bottom: .25rem;
}

.view-content > * {
  padding-right: 1rem;
  transition: var(--fast-transition);
}

.articles article:hover svg {
  outline: 2px solid var(--white);
  border-radius: 10px;
  padding: .1rem;
}

.articles article:hover img {
  transform: scale(1.1);
}

.view-content svg:hover {
  transform: scale(1.2);
}

.view-content svg:active {
  transform: scale(1);
}


#right-column {
  flex: 1 1 0;
  min-width: 150px;
  max-width: 250px;
}

#upcoming-projects {
  background-color: var(--dull-polo-blue);
  box-shadow: 5px 5px 10px var(--dull-polo-shadow);
  border-radius: 10px;
  padding: .5rem .75rem;
  margin-bottom: 2rem;
}

#upcoming-projects > * {
  margin-bottom: 1rem;
}

#upcoming-projects h3, #past-projects h3 {
  margin: 0 0 .5rem;
  padding: .25rem 0;
  text-align: center;
}

#right-column article {
  display: grid;
  grid-template-columns: 1fr repeat(auto-fit, minmax(3rem, 1fr));
  gap: .5rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: .5rem;
}

#right-column h4 {
  width: 100%;
  margin: .25rem 0;
  color: var(--dull-polo-blue);
}

#right-column a {
  color: var(--dark-blue);
  transition: var(--fast-transition);
  width: fit-content;
}

#right-column a:hover {
  font-weight: bold;
  transform: translateX(.25rem) scale(1.1);
}

#past-projects {
  background-color: var(--dull-polo-blue);
  box-shadow: 5px 5px 10px var(--dull-polo-shadow);
  border-radius: 10px;
  padding: .5rem;
}


/* ----------------------------------------*/
/* Footer */
footer {
  height: 2rem;
  width: 100%;
  margin: 1.5rem auto 0;
  text-align: center;
}


/* ----------------------------------------*/
/* Media query for small device, 
changing left-side navigation by removing words and leaving icons. 
Also: max-width for searchbar form */

@media screen and (max-width: 480px) {
  aside {
    text-align: center;
    padding: 0;
    min-width: 4rem;
  }

  #dashboard, aside li > a {
    display: inline;
  }

  #dashboard svg {
    width: 3rem;
    height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    margin-top: 1rem;
  }
  
  aside li a > span, #dashboard > h2 {
    display: none;
  }

  form {
    max-width: 8rem;
  }
}